@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background: #f8fafc;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

.hover-card {
  transition: 0.3s;
}

.hover-card:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 20px rgba(0,0,0,0.08);
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}
